{% extends 'blog/master.html' %}
{% block title %}Mon blog{% endblock title %}
{% block content %}
<div class="d-grid gap-2 col-6 mx-auto">
    <a class="btn btn-primary" style="
    width:540px
    
    " href="{% url 'ask-for-ticket' %}" role="button">Demander une critique</a>
    <a class="btn btn-info" style="
        width:540px
    
    "href="{% url 'create-review' %}" role="button">Créer une critique</a>
</div>
<br>
{% for val in posts %}
    {% if val.get_object_type == 'Review' %}
        {% include 'blog/review_snippet.html' %}            
    {% elif val.get_object_type == 'Ticket' %}
        {% include 'blog/ticket_snippet.html' %}
    {% endif %}
{% endfor %}

<script>
    let starContainer = document.querySelectorAll(".starContainer");
    console.log(starContainer);
     
    for (var j = 0; j < starContainer.length; j++) {
        const numStars = parseInt(starContainer[j].getAttribute("data-stars"), 10);
        for (let i = 0; i < numStars; i++) {
        const star = document.createElement("span");
        star.className = "stars";
        star.innerHTML = "★";
        starContainer[j].appendChild(star);
        }
}
</script>
{% endblock %}
