{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'blog/styles.css' %}">
</head>
<body>
  <div class="container-md" style="padding: 0;">
    <nav class="navbar navbar-expand-lg bg-black ">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">LITReview</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" style=" color:lightcyan;" aria-current="page" href="/">Flux</a>
            <a class="nav-link" style=" color:lightcyan;" href="{% url 'posts-view' %}">Posts</a>
            <a class="nav-link" style=" color:lightcyan;" href="{% url 'abonnements-view' %}">Abonnements</a>
          </div>
        </div>
        {% if user.is_authenticated %}
        <div class="dropdown">
          <a href="javascript: void(0);" class="dropdown-toggle no-arrow d-flex align-items-center justify-content-center shadow-sm mx-1 mx-lg-2 w-40px h-40px show" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="true" data-bs-offset="0,0" style="
          color: none;
          text-decoration: none;
          color: ghostwhite;
             ">
          <p>{{ user.username }}</p>
          </a>
          <div class="dropdown-menu show" style="position: fixed;inset: 0px auto auto 0px;margin: 0px;transform: translate3d(1281.6px, 56.8px, 0px);background-color: #FF3CAC;background-image: linear-gradient(96deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);" data-popper-placement="bottom-start">
            <div class="dropdown-item-text" >
                <div class="d-flex align-items-center">
                    <div class="flex-grow-1 ms-3">
                        <h4 class="mb-0" style="
                              color: black;
                            ">
                            {{ user.username }}  </h4>
                        <p class="card-text" style="
                                  color: floralwhite;
                            ">
                            {{ user.email }}</p>
                        <a style="color:black;text-decoration: none; background: aliceblue;" href="/logout/">Se déconnecter <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-escape" viewBox="0 0 16 16">
                          <path d="M8.538 1.02a.5.5 0 1 0-.076.998 6 6 0 1 1-6.445 6.444.5.5 0 0 0-.997.076A7 7 0 1 0 8.538 1.02Z"></path>
                          <path d="M7.096 7.828a.5.5 0 0 0 .707-.707L2.707 2.025h2.768a.5.5 0 1 0 0-1H1.5a.5.5 0 0 0-.5.5V5.5a.5.5 0 0 0 1 0V2.732l5.096 5.096Z"></path>
                        </svg></a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        </div>
        
      </div>
  </nav>
  {% block content %}{% endblock %}
</div>
<footer class="py-3 my-4" style="
background: #0000003b;
">
  <ul class="nav justify-content-center border-bottom pb-3 mb-3">
  </ul>
  <p class="text-center text-body-secondary" 
  style=" color:aqua;">© 2023 Company, Amazigh</p>
</footer>
</body>
</html>
