{% extends 'blog/master.html' %}
{% block title %}Mise a jour{% endblock title %}
{% block content %}
<div class="d-grid gap-2 col-6 mx-auto" style="
margin-top: 100px;
">
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="card text-center" style="max-width: 540px; background:#fff9fe4d;" >
        <div class="card-body --bs-primary-border-subtle">
            <p class="card-text">Vous voulez vraiment supprimer ce billet ?</p>
        </div>
        <div class="card-footer text-body-secondary">
        <button type="submit" class="btn btn-danger">Supprimer</button>
        <a class="btn btn-info" href="{% url 'home' %}" role="button">Annuler</a>
        </div>
    </div>
</form>
</div>
{% endblock %}